p,
li,
h3,
small,
a,
footer {
  color: #ac64f0;
}

h1,
h2,
footer,
.more-publications {
  text-align: center;
}

p,
button,
li,
small,
footer {
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  font-family: "Lobster Two", sans-serif;
  color: #f534d9;
}

p,
li {
  line-height: 21px;
  font-size: 18px;
}

.moonlight-book-grid,
.meryle-lancelot-book-grid {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
}

body {
  background-color: #f7f3ff;
}

h1 {
  font-size: 42px;
  letter-spacing: 2px;
}

button {
  margin-top: 10px;
  background-color: #f7f3ff;
  color: #ac64f0;
  border: 2px solid #ac64f0;
  font-size: 18px;
  padding: 7px 10px;
  border-radius: 30px;
  transition: all 150ms ease-in-out;
}

button:hover {
  background: #ac64f0;
  color: #f7f3ff;
  border: none;
  cursor: pointer;
}

h2 {
  font-size: 32px;
  margin-top: 45px;
  letter-spacing: 1px;
}

h3 {
  font-size: 25px;
}

ul {
  list-style-type: circle;
}

img {
  border-radius: 15px;
  margin-top: 25px;
  transition: all 150ms ease-in-out;
  width: 100%;
}

img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

footer {
  margin-top: 40px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.moonlight-book-grid {
  grid-template-columns: repeat(5, 1fr);
}

.meryle-lancelot-book-grid {
  grid-template-columns: repeat(6, 1fr);
}

.flash-fiction-stories {
  color: #f534d9;
  text-decoration: none;
}

.flash-fiction-stories:hover {
  text-decoration: underline;
}

.dark-theme {
  background: #3c3232;
}

.dark-theme h3,
.dark-theme p,
.dark-theme li,
.dark-theme small,
.dark-theme footer {
  color: #f7f3ff;
}

.dark-theme button {
  border: none;
  color: #f534d9;
}

.dark-theme button:hover {
  background: #f534d9;
  color: #f7f3ff;
}
