h1,
h2,
footer,
.more-publications {
  text-align: center;
}

p,
li,
small,
footer {
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  font-family: "Lobster Two", sans-serif;
}

h3,
p,
li {
  line-height: 21px;
  font-size: 18px;
}

.moonlight-book-grid,
.meryle-lancelot-book-grid {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
  margin-top: 45px;
  letter-spacing: 1px;
}

ul {
  list-style-type: circle;
}

img {
  border-radius: 15px;
  margin-top: 25px;
  transition: all 150ms ease-in-out;
  width: 100%;
}

img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

footer {
  margin-top: 30px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.moonlight-book-grid {
  grid-template-columns: repeat(5, 1fr);
}

.meryle-lancelot-book-grid {
  grid-template-columns: repeat(6, 1fr);
}

.flash-fiction-stories {
  color: blueviolet;
  text-decoration: none;
}

.flash-fiction-stories:hover {
  text-decoration: underline;
}
